body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  h1,h2,h3,h4,p{
      margin: 0;
      padding: 0;
  }
  header{
      --text: #fff;
      --text-inverse: #B0ACAB;
      --background: #000;

      background:var(--background);
      color: var(--background);
      position: relative;
      height: auto;
      /* min-height: 5vh; */
      width: 100%;
      overflow: hidden;
  }
  header video {
    position: relative;
    display: block;
/*  position: absolute;
    top: 50%;
    left: 50%; */
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%    !important;
    height: auto   !important;
    z-index: 0;
/*     -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */
  }
  
  header .overlay {
    position: absolute;
    top: 70%;
    left: 10%;
    min-width: 100%;
    border-radius: 50px ;
    z-index: 2;
    background-image: linear-gradient(to right, #fff , transparent);
  }
   header .overlay h1 {
    font-size: 2em;
   }
   .nav-scrolled {
       background-color: crimson;
   }
/* .navbar-dark .navbar-nav .nav-link {
    color: #fff;
} */
.nav-item a{
    font-weight: 800;

}

.navbar-brand{
    font-weight: 200;
    color: var(--text);
}
.navbar-brand:hover{
    font-weight: 300;
    color: var(--text);
}
.nav-link{
    --spacing: 1em;
    text-decoration: none;
    color: var(--text);
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    /* letter-spacing: 2px; */
}
.nav-link::after{
content: "";
position: absolute;
bottom: 0;
left: var(--spacing);
right: var(--spacing);
height: 4px;
background: currentColor;
transform: scaleX(0);
transition: transform 150ms ease-in-out;
}
.nav-link:hover::after{
transform: scaleX(1);
color: var(--text-inverse);
}
.nav-link:hover{
    color: var(--text-inverse);
}
.carousel-item{
    max-height: 80vh;
}
.carousel-item img{
    height: 100%;
}
.navbar-toggler-icon{
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.form-control {
    background: transparent;

}


.text{
    z-index: 2;

}
.epilogue p{
    font-family: Roboto;
    font-size: 21pt;
    line-height: 1.21;
    font-weight: 100;
    margin-top: 20px;
    padding: 3rem 0.5rem 5rem 0.5rem;

}
.s_img{
    max-width: 540px;
}
.offer{
    background-color: rgb(241,241,241);
}
.text{
    padding-left: 1.5rem;
}
h2{
    font-family: Roboto;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 200;
    margin-top: 20px;
}
h3{
    font-size: 1.3rem;
    line-height: 1.27;
    color: rgba(33,33,33,1);
    font-weight: 200;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
ol {list-style-type: inherit;
    font-family: Roboto;
    color: rgba(33,33,33,1);
    font-weight: 300;
    font-size: 13pt;
    line-height: 2.5;
    margin-top: 14px
}
p{
    font-family: Roboto;
    color: rgba(33,33,33,1);
    font-weight: 300;
    font-size: 1rem;
}
.tolle {
    height: 60vh;
    background-image: url("../img/forest.jpg");
    position: relative;
    background-size: cover;
}
.tolle::before{
    content: "";
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.tolle h2{
    font-family: Roboto;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 200;
    margin-top: 20px;
    color: #fff;
}
.tolle h3{
    font-family: Roboto;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 200;
    margin-top: 20px;
    color: #fff;
}
.request{
    height: 60vh;
    background-image: url("../img/forest.jpg");
    position: relative;
    background-size: cover;
}
.request::before{
    content: "";
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.contact{
    height: 30vh;
}
.contact a{
    border-color: rgba(33,33,33,1);
    color: rgba(33,33,33,1);
    font-family: Roboto;
    font-size: 13pt;
    line-height: 22px;
    background-color: #fff;
}
.price{
    height: 30vh; 
    background-color: rgb(241,241,241);
}

.seemore{
    background-color: rgb(241,241,241);
}
.fog{
    filter: drop-shadow(8px 8px 8px gray);
}
.nastya{
    filter: drop-shadow(8px 8px 8px gray);
}  
.nastya img{
   max-width:365px;
   height:auto;
}
footer{
    height: 20vh;
    background-image: url("../img/top.jpg");
    position: relative;
    background-size: cover;
}
footer::before{
    content: "";
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
footer p{
    color: #fff;
    z-index: 12;
    font-weight: 300;
}
footer ul li{
text-decoration: none;
color: #fff;
}

/* MEDIA */
