body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  h1,h2,h3,h4,p{
      margin: 0;
      padding: 0;
  }
  header{
      --text: #fff;
      --text-inverse: #B0ACAB;
      --background: transparent;

      background:var(--background);
      color: var(--text);

  }
/* .navbar-dark .navbar-nav .nav-link {
    color: #fff;
} */
.nav-item a{
    font-weight: 800;

}

.navbar-brand{
    font-weight: 200;
    color: var(--text);
}
.navbar-brand:hover{
    font-weight: 300;
    color: var(--text);
}
.nav-link{
    --spacing: 1em;
    text-decoration: none;
    color: var(--text);
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    /* letter-spacing: 2px; */
}
.nav-link::after{
content: "";
position: absolute;
bottom: 0;
left: var(--spacing);
right: var(--spacing);
height: 4px;
background: currentColor;
transform: scaleX(0);
transition: transform 150ms ease-in-out;
}

.nav-link:hover::after{
transform: scaleX(1);
color: var(--text-inverse);
}
.nav-link:hover{
    color: var(--text-inverse);
}
.carousel-item{
    height: 600px;
}
.carousel-item img{
    height: 600px;
}

.navbar-toggler-icon{
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.form-control {
    background: transparent;

}

#hero {
    
    height: 100vh;
    background-image: url("../img/top.jpg");
    position: relative;
    background-size: cover;
}
#hero::before{
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .text{
    padding-left: 1.5rem;
}
#hero h1 {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    margin: 0;
    font-size: 4rem;
    line-height: 1.25;
    font-weight: 100;
    color: #fff;
}
#hero h3{
    font-size: 1.3rem;
    line-height: 1.27;
    color: #fff;
    font-weight: 300;
    padding-bottom: 1rem;
}
#hero h4{
    font-size: 1rem;
    line-height: 1.2;
    color: #fff;
}
.movie p{
    font-family: Roboto;
    font-size: 21pt;
    line-height: 1.21;
    font-weight: 100;
    margin-top: 20px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
/* .myfram{
    display: block;
    height: 100%;
} */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 90%;
    height: 100%;
}