body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  header{
      --text: #fff;
      --text-inverse: #B0ACAB;
      --background: transparent;

      background:var(--background);
      color: var(--text);

  }
/* .navbar-dark .navbar-nav .nav-link {
    color: #fff;
} */
.nav-item a{
    font-weight: 800;

}

.navbar-brand{
    font-weight: 200;
    color: var(--text);
}
.navbar-brand:hover{
    font-weight: 300;
    color: var(--text);
}
.nav-link{
    --spacing: 1em;
    text-decoration: none;
    color: var(--text);
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    /* letter-spacing: 2px; */
}
.nav-link::after{
content: "";
position: absolute;
bottom: 0;
left: var(--spacing);
right: var(--spacing);
height: 4px;
background: currentColor;
transform: scaleX(0);
transition: transform 150ms ease-in-out;
}

.nav-link:hover::after{
transform: scaleX(1);
color: var(--text-inverse);
}
.nav-link:hover{
    color: var(--text-inverse);
}
.carousel-item{
    height: 600px;
}
.carousel-item img{
    height: 600px;
}

#hero {
    
    height: 100vh;
    background-image: url("img/top.jpg");
    position: relative;
    background-size: cover;
}
#hero::before{
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .containet {
    position: relative;
    width: 100%;

}
#hero h1 {
    margin: 0;
    font-size: 63pt;
    line-height: 1.25;
    font-weight: 100;
    color: #fff;
}
#hero h3{
    font-size: 18px;
    line-height: 1.27;
    color: #fff;
    font-weight: 300;
}
#hero h4{
    font-size: 9pt;
    line-height: 1.2;
    color: #fff;
}
